html, body {
    width: 100vw;
    height: 100vh;
    font-family: monospace;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-select: none;
    -webkit-user-select: none;
}

@font-face {
    font-family: 'Quantum';
    src: url(fonts/Quantum.otf);
}

/* HEADER */
header {
    font-family: 'Quantum';
    background-image: linear-gradient(to right, #5e97f6, rgb(04, 61, 156));
    height: 64px;
    color: white;
    display: flex;
}
header > h1, header > h2 {
    width: 100%;
    margin: auto 4rem;
}
header > h2 {
    text-align: right;
}

/* MAIN */
main {
    height: calc(100% - 120px);
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(img/background.jpg);
    background-size: cover;
}

/* FOOTER */
footer {
    height: 56px;
    color: #757575;
    font-weight: bold;
    display: flex;
    background-image: linear-gradient(to right, #fbfbfb, #eee);
}
footer > h4, footer > div {
    width: 100%;
    margin: auto 4rem;
    display: flex;
}
footer > div {
    width: 25%;
}
footer > div > ul {
    text-indent: 1em;
    list-style-type: none;
}

/* CAROUSEL */
.carousel-wrapper {
    width: 90%;
    margin: 5% auto;
    overflow: hidden;
    border-radius: 8px;
    background-color: white;
}
.slides-wrapper {
    width: 1000%;
    height: calc(100% - 56px);
    display: flex;
    background-image: linear-gradient(to right, #eee, #bbb);
    transition: .8s cubic-bezier(.77, 0, .175, 1);
}
nav {
    display: flex;
    color: rgb(04, 61, 156);
}
.pagination-wrapper {
    height: 56px;
    width: 50%;
    max-width: 560px;
    margin: auto;
    display: flex;
}
.pagination-bullets-wrapper {
    width: 100%;
    display: flex;
}
.pagination-bullets-wrapper > div {
    width: 10% !important;
    padding: 0 !important;
}
.previous-button-wrapper, .next-button-wrapper, .pagination-bullets-wrapper > div {
    height: 56px;
    transition: .2s ease;
    cursor: pointer;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 3em;
    padding: 0 1em;
}
.previous-button-wrapper:hover, .next-button-wrapper:hover, .pagination-bullets-wrapper > div:hover {
    font-size: 2em;
    line-height: 2em;
}
.slides-wrapper > div[class^="slide"] {
    width: 10%;
    height: 100%;
    color: #555;
}
.slide-title {
    font-family: 'Quantum';
    text-align: center;
    font-size: 2em;
    height: 64px;
    line-height: 64px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .16), 0 2px 4px rgba(0, 0, 0, .23);
}
.slide-content {
    height: calc(100% - 64px);
    padding: 5%;
    font-size: 1.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .16), 0 2px 4px rgba(0, 0, 0, .23);
}
.slide-content > img {
    width: 100%;
    height: 100%;
    margin: auto;
    background-size: cover;
    object-fit: contain;
    display: block;
    border-radius: 8px;
}